.pay-section {
    background-color: #f8f9fa;
  }
  
  .payment-method-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .payment-method {
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .payment-method.active {
    background-color: #059fe2;
    color: white;
  }
  
  .pay-button-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .btn-pay {
    background-color: #059fe2;
    color: white;
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-pay:hover {
    background-color: #007bb5;
  }
  
  .privacy-policy {
    font-size: 12px;
    margin-top: 10px;
  }
  
  .privacy-link {
    color: #059fe2;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .order-summary,
  .order-total {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
  
  .order-summary li,
  .order-total li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
  }
  
  .order-total li span {
    font-weight: 600;
  }
  
  .checkout-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h5 {
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  h6 {
    font-weight: 600;
    margin-bottom: 10px;
  }
  